*{
    margin: 0;
    padding: 0;
 }
 h2{
    color: #ff8100;
    padding: 5px;
 }
 p{
    font-size: 50px;
    color: #ff8100;
    text-align: center;
    padding: 15px;
 }
 .container{
    display: flex;
    flex-direction: row;
 }
 .container1{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 70%;
    background-image: url();
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 }
 .card{
    margin: 1%;
    white-space: nowrap;
    position: relative;
    top: 0;
    left: 0;
    perspective: 1000px;
    
 }
 .container2{
    display: flex;
    height: 100vh;
    width: 30%;
    background-image: url();
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .player{
    height: 20%;
    width: 80%;
    margin: 1%;
    text-align: center;
    background-color: #b8e994;
    border-radius: 8px;
    border: solid 10px #ff8100;
 }
 .score{
    height: 20%;
    width: 80%;
    margin: 1%;
    text-align: center;
    background-color: #b8e994;
    border-radius: 8px;
    border: solid 10px #ff8100;
 }

 .border{
     border-radius: 8%;
     width: 180px;
 }
 .card-face {
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
 }
 .front {
   position: relative;
   transform: rotateY(180deg);
 }
 .back {
    top: 0;
    position: absolute;
 }
 .flip-card-inner {
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
  }
  .flip-card-inner.is-flipped {
     transform: rotateY(180deg);
  }